/*css externo*/
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
header, section, footer,aside, nav, article, hgroup{
    
    display: block;
}
p{
    text-align: justify;
}

div{
    width: 960px;
    border: 1px solid black;
    background:white;
    margin: auto ;
}
header h1{
    text-align: center;
}
header{
    background: #FFFBB9;
    border: 1px solid #999999;
    padding: 5px;
}
nav{
    background: #ccc;
    padding: 2px 15px;
    text-align: center;

}
nav li{
    list-style: none;
    display: block;
    padding: 5px;
    font:bold 14px verdana;
    display: inline-block;
    text-align: center;
}
ul li{
    text-align: center;
}
section{
    margin: 20px;
    width: 60%;
    float: right;
}
aside{
    width: 30%;
    float: right;
    margin: 20px;
}
aside blockquote{
    border: 1px solid black;
    padding: 100px;
    width: 20%;
    background: blanchedalmond;
    margin: 30px;
}
blockquote h3{
    text-align: right;
}

article{
    background:#D7DBDD;
    padding: 20px;
    margin-bottom: 15px;
}